In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [ ]:
outcomes = [1, 2, 3, 4, 5, 6]
n_simulations = 10_000

die1 = np.random.choice(outcomes, size=n_simulations)
die2 = np.random.choice(outcomes, size=n_simulations)

die1

In [ ]:
die2

In [15]:
dies_equal = die1 == die2

In [16]:
dies_equal

array([False, False, False, ..., False, False, False])

In [24]:
number_of_equal = len(dies_equal[dies_equal == True])

In [22]:
total_number = len(dies_equal)
total_number

10000

In [26]:
probability = number_of_equal/total_number
probability

0.162

In [28]:
dies_equal.mean()

0.162

In [7]:
n_trials = nrows = 10_000
n_coins = ncols = 8
outcomes = [int(1), int(0)]
coin = np.random.choice(outcomes, size = (n_trials, n_coins))
coin_df = pd.DataFrame(coin)
coin_df

      0  1  2  3  4  5  6  7
0     1  0  0  0  1  1  0  0
1     0  0  0  1  1  0  0  1
2     1  0  0  0  0  0  0  1
3     0  1  0  1  1  0  1  1
4     1  0  1  1  0  0  0  0
...  .. .. .. .. .. .. .. ..
9995  0  1  1  1  0  1  0  0
9996  0  1  0  1  0  0  0  0
9997  0  1  1  1  1  0  0  0
9998  1  1  1  1  0  1  0  0
9999  1  0  0  1  1  1  0  1

[10000 rows x 8 columns]

In [8]:
coin_df["sum"] = coin_df.sum(axis=1)
coin_df

      0  1  2  3  4  5  6  7  sum
0     1  0  0  0  1  1  0  0    3
1     0  0  0  1  1  0  0  1    3
2     1  0  0  0  0  0  0  1    2
3     0  1  0  1  1  0  1  1    5
4     1  0  1  1  0  0  0  0    3
...  .. .. .. .. .. .. .. ..  ...
9995  0  1  1  1  0  1  0  0    4
9996  0  1  0  1  0  0  0  0    2
9997  0  1  1  1  1  0  0  0    4
9998  1  1  1  1  0  1  0  0    5
9999  1  0  0  1  1  1  0  1    5

[10000 rows x 9 columns]

In [9]:
is_three = coin_df["sum"] == 3
is_three
is_three = len(is_three[is_three == True])
coin_df_len = len(coin_df)

In [66]:
is_three.mean()

0.0042

In [69]:
is_three/coin_df_len

0.0042

In [10]:
greater_than_three = coin_df["sum"] > 3

In [11]:
greater_than_three.mean()

0.6345

In [17]:
outcomes = [1, 0]
students = np.random.choice(outcomes, size=(100_000, 2), p=[0.75, 0.25])

In [18]:
students_df = pd.DataFrame(students)

In [19]:
students_df

       0  1
0      1  0
1      0  0
2      1  1
3      1  1
4      0  0
...   .. ..
99995  1  1
99996  1  1
99997  1  1
99998  1  1
99999  1  0

[100000 rows x 2 columns]

In [29]:
all_data_science = students_df[students_df[0] == 0]

In [33]:
all_data_science2 = all_data_science[students_df[1] == 0]

<ipython-input-33-cc9c2bd11d41>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  all_data_science2 = all_data_science[students_df[1] == 0]

In [36]:
all_data_science2

       0  1
1      0  0
4      0  0
6      0  0
20     0  0
23     0  0
...   .. ..
99917  0  0
99930  0  0
99956  0  0
99980  0  0
99990  0  0

[6148 rows x 2 columns]

In [37]:
len(all_data_science2)

6148

In [40]:
probability_both_ds = len(all_data_science2)/len(students_df)
probability_both_ds

0.06148

In [42]:
#4 
poptart_mean = 3
poptart_std = 1.5

In [45]:
poptarts = np.random.normal(poptart_mean, poptart_std, size = (10_000, 5))

In [46]:
poptarts

array([[ 1.41942247,  2.23249063,  3.17574435,  2.05629119,  2.72106994],
       [ 5.53415284,  3.40423721,  4.3952033 ,  1.87756679,  4.97894699],
       [ 1.27445314,  3.69650315,  4.48270881,  2.56896094,  0.41210538],
       ...,
       [ 3.21132961,  4.0756594 ,  1.59333724,  5.48334544, -0.0862177 ],
       [ 3.85352702,  2.84266983,  4.30076881,  1.4395812 ,  3.45294592],
       [ 0.12031435,  3.54977429,  6.11338252,  6.36767176,  3.7094455 ]])

In [49]:
poptart_df = pd.DataFrame(poptarts)
poptart_df

             0         1         2         3         4
0     1.419422  2.232491  3.175744  2.056291  2.721070
1     5.534153  3.404237  4.395203  1.877567  4.978947
2     1.274453  3.696503  4.482709  2.568961  0.412105
3     3.587795  1.795742  3.249827  4.223055  1.078437
4     2.756356  5.492115  2.855706  0.763092  7.097466
...        ...       ...       ...       ...       ...
9995  3.194705  3.106689  3.886340  2.727598  6.133646
9996  1.884296  2.676622  1.583252  3.648435  5.926019
9997  3.211330  4.075659  1.593337  5.483345 -0.086218
9998  3.853527  2.842670  4.300769  1.439581  3.452946
9999  0.120314  3.549774  6.113383  6.367672  3.709445

[10000 rows x 5 columns]

In [51]:
poptart_df["sum"] = poptart_df.sum(axis=1)
poptart_df

             0         1         2         3         4        sum
0     1.419422  2.232491  3.175744  2.056291  2.721070  23.210037
1     5.534153  3.404237  4.395203  1.877567  4.978947  40.380214
2     1.274453  3.696503  4.482709  2.568961  0.412105  24.869463
3     3.587795  1.795742  3.249827  4.223055  1.078437  27.869711
4     2.756356  5.492115  2.855706  0.763092  7.097466  37.929469
...        ...       ...       ...       ...       ...        ...
9995  3.194705  3.106689  3.886340  2.727598  6.133646  38.097957
9996  1.884296  2.676622  1.583252  3.648435  5.926019  31.437248
9997  3.211330  4.075659  1.593337  5.483345 -0.086218  28.554908
9998  3.853527  2.842670  4.300769  1.439581  3.452946  31.778986
9999  0.120314  3.549774  6.113383  6.367672  3.709445  39.721177

[10000 rows x 6 columns]

In [53]:
poptarts_available = poptart_df["sum"] <= 16

In [55]:
poptarts_available.mean()

0.019

In [74]:
male_height = np.random.normal(178 , 8, size = (10_000))
female_height = np.random.normal(170, 6, size = (10_000))

In [78]:
male_height_df = pd.DataFrame(male_height)
male_height_df.index.name = 'Index'

In [94]:
female_height_df = pd.DataFrame(female_height)
female_height_df.index.name = 'Index'

                0
Index
0      168.617569
1      172.251833
2      170.318821
3      166.078577
4      165.998475
...           ...
9995   171.703281
9996   170.726435
9997   174.125712
9998   167.927496
9999   171.467260

[10000 rows x 1 columns]

In [84]:
male_height_df

                0
Index
0      173.934351
1      179.514173
2      175.142861
3      164.938015
4      160.083722
...           ...
9995   167.129174
9996   174.553566
9997   177.076919
9998   188.875801
9999   173.897477

[10000 rows x 1 columns]

In [96]:
female_height_df

                0
Index
0      168.617569
1      172.251833
2      170.318821
3      166.078577
4      165.998475
...           ...
9995   171.703281
9996   170.726435
9997   174.125712
9998   167.927496
9999   171.467260

[10000 rows x 1 columns]

In [92]:
male_female_height = pd.concat([male_height_df, female_height_df], axis = 1)
male_female_height

                0           0
Index
0      173.934351  168.617569
1      179.514173  172.251833
2      175.142861  170.318821
3      164.938015  166.078577
4      160.083722  165.998475
...           ...         ...
9995   167.129174  171.703281
9996   174.553566  170.726435
9997   177.076919  174.125712
9998   188.875801  167.927496
9999   173.897477  171.467260

[10000 rows x 2 columns]

In [98]:
male_female_height.columns =['Male', 'Female']

In [99]:
male_female_height

             Male      Female
Index
0      173.934351  168.617569
1      179.514173  172.251833
2      175.142861  170.318821
3      164.938015  166.078577
4      160.083722  165.998475
...           ...         ...
9995   167.129174  171.703281
9996   174.553566  170.726435
9997   177.076919  174.125712
9998   188.875801  167.927496
9999   173.897477  171.467260

[10000 rows x 2 columns]

In [101]:
woman_taller = male_female_height["Male"] < male_female_height["Female"]

In [102]:
woman_taller.mean()

0.2152

In [133]:
#6
outcomes = [int(1), int(0)]
fifty_student_probability = np.random.choice(outcomes, size=(10_000, 50), p=[0.004, 0.996])

In [134]:
fifty_student_probability

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [135]:
fifty_student_probability_df = pd.DataFrame(fifty_student_probability)

In [136]:
fifty_student_probability_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [144]:
fifty_student_probability_df["sum"] = fifty_student_probability_df.sum(axis=1)

In [139]:
fifty_student_probability_df

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,sum
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [145]:
no_problems = fifty_student_probability_df["sum"] == 0

In [146]:
no_problems.mean()

0.8126

In [149]:
hundred_student_probability = np.random.choice(outcomes, size=(10_000, 100), p=[0.004, 0.996])
hundred_student_probability_df = pd.DataFrame(hundred_student_probability)
hundred_student_probability_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
hundred_student_probability_df["sum"] = hundred_student_probability_df.sum(axis=1)

In [151]:
no_problems_hundred_students = hundred_student_probability_df["sum"] == 0

In [152]:
no_problems_hundred_students.mean()

0.6649

In [159]:
onefifty_student_probability = np.random.choice(outcomes, size=(10_000, 150), p=[0.004, 0.996])
onefifty_student_probability_df = pd.DataFrame(onefifty_student_probability)
onefifty_student_probability_df

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [160]:
onefifty_student_probability_df["sum"] = onefifty_student_probability_df.sum(axis=1)

In [161]:
a_problem_onefifty_students = onefifty_student_probability_df["sum"] >= 1

In [162]:
a_problem_onefifty_students.mean()

0.4531

In [163]:
fourfifty_student_probability = np.random.choice(outcomes, size=(10_000, 450), p=[0.004, 0.996])
fourfifty_student_probability_df = pd.DataFrame(fourfifty_student_probability)
fourfifty_student_probability_df

,0,1,2,3,4,5,6,7,8,9,...,440,441,442,443,444,445,446,447,448,449
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [164]:
fourfifty_student_probability_df["sum"] = fourfifty_student_probability_df.sum(axis=1)

In [167]:
no_problem_fourfifty_students = fourfifty_student_probability_df["sum"] == 0

In [168]:
no_problem_fourfifty_students.mean()

0.1623

In [180]:
outcomes =[int(1), int(0)]
three_day_food_truck = np.random.choice(outcomes, size=(10_000, 3), p=[0.70, 0.30])
food_truck_df = pd.DataFrame(three_day_food_truck)
food_truck_df

      0  1  2
0     1  1  1
1     1  1  1
2     1  1  0
3     0  1  1
4     0  1  0
...  .. .. ..
9995  1  0  1
9996  1  1  1
9997  1  0  0
9998  1  0  0
9999  1  1  1

[10000 rows x 3 columns]

In [181]:
food_truck_df["sum"] = food_truck_df.sum(axis=1)

In [182]:
no_food_truck = food_truck_df["sum"] == 0

In [183]:
no_food_truck.mean()

0.0261

In [184]:
outcomes =[int(1), int(0)]
seven_day_food_truck = np.random.choice(outcomes, size=(10_000, 7), p=[0.70, 0.30])
seven_food_truck_df = pd.DataFrame(seven_day_food_truck)
seven_food_truck_df

      0  1  2  3  4  5  6
0     1  1  0  0  1  0  0
1     1  0  1  1  1  0  0
2     0  1  1  1  1  1  0
3     1  1  1  1  0  1  0
4     0  1  1  1  1  1  1
...  .. .. .. .. .. .. ..
9995  1  0  1  1  0  1  0
9996  1  1  0  1  0  1  1
9997  1  0  1  0  1  1  0
9998  0  1  1  1  0  0  1
9999  1  1  1  1  1  1  1

[10000 rows x 7 columns]

In [186]:
seven_food_truck_df["sum"] = seven_food_truck_df.sum(axis=1)

In [187]:
yes_food_truck = seven_food_truck_df["sum"] >= 1

In [188]:
yes_food_truck.mean()

0.9996

In [198]:
outcomes = range(1,366)
outcomes

range(1, 366)

In [81]:
birthdays = np.random.choice(range(1,366), size = (10_000, 23))
birthdays

array([[156, 292,   8, ..., 264, 119, 256],
       [265,  91, 192, ..., 233,  31, 284],
       [340, 357, 160, ..., 258, 352, 299],
       ...,
       [ 33, 323, 268, ...,  96, 164, 212],
       [207,  94, 327, ..., 221,  62, 237],
       [363, 235, 116, ..., 294, 313, 191]])

In [82]:
birthdays_df=pd.DataFrame(birthdays)

In [83]:
birthdays_df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,156,292,8,98,60,100,270,308,46,334,...,26,242,143,256,313,59,187,264,119,256
1,265,91,192,11,110,96,97,170,226,348,...,216,57,200,340,149,56,289,233,31,284
2,340,357,160,55,320,294,271,90,355,249,...,300,202,112,141,107,122,341,258,352,299
3,63,318,149,265,341,205,28,157,262,113,...,271,200,336,88,223,252,280,263,68,299
4,272,281,71,231,22,59,160,45,199,242,...,361,216,112,67,47,297,321,228,222,286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,164,336,316,17,175,100,255,267,357,121,...,270,125,311,181,38,219,120,156,258,247
9996,223,365,336,26,107,215,103,126,87,275,...,15,114,251,154,136,95,305,156,153,64
9997,33,323,268,55,143,21,245,11,120,298,...,342,271,31,146,290,126,271,96,164,212
9998,207,94,327,147,332,59,38,270,332,144,...,90,329,145,29,185,71,136,221,62,237
9999,363,235,116,345,140,3,94,61,49,16,...,28,82,113,273,163,246,348,294,313,191

In [84]:
birthdays_df.apply(lambda row: row.is_unique, axis=1).mean()

0.4916

In [85]:
1-birthdays_df.apply(lambda row: row.is_unique, axis=1).mean()

0.5084

In [69]:
birthdays_df['unique birthdays'] = birthdays_df.nunique(axis=1)

In [128]:
birthdays_df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,156,292,8,98,60,100,270,308,46,334,...,26,242,143,256,313,59,187,264,119,256
1,265,91,192,11,110,96,97,170,226,348,...,216,57,200,340,149,56,289,233,31,284
2,340,357,160,55,320,294,271,90,355,249,...,300,202,112,141,107,122,341,258,352,299
3,63,318,149,265,341,205,28,157,262,113,...,271,200,336,88,223,252,280,263,68,299
4,272,281,71,231,22,59,160,45,199,242,...,361,216,112,67,47,297,321,228,222,286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,164,336,316,17,175,100,255,267,357,121,...,270,125,311,181,38,219,120,156,258,247
9996,223,365,336,26,107,215,103,126,87,275,...,15,114,251,154,136,95,305,156,153,64
9997,33,323,268,55,143,21,245,11,120,298,...,342,271,31,146,290,126,271,96,164,212
9998,207,94,327,147,332,59,38,270,332,144,...,90,329,145,29,185,71,136,221,62,237
9999,363,235,116,345,140,3,94,61,49,16,...,28,82,113,273,163,246,348,294,313,191

In [74]:
not_unique = birthdays_df[birthdays_df['unique birthdays'] < 23]

In [75]:
len(not_unique)

5074

In [76]:
len(not_unique)/len(birthdays_df)

0.5074

In [11]:
birthdays_2 = np.random.choice(range(1,366), size = (1_000_000, 20))

In [12]:
birthdays_2_df=pd.DataFrame(birthdays_2)

In [ ]:
birthdays_2_df['unique birthdays'] = birthdays_2_df.nunique(axis=1)

In [ ]:
birthdays_2_df

In [7]:
not_unique2 = birthdays_2_df[birthdays_2_df['unique birthdays'] < 20]

In [9]:
len(not_unique2)/len(birthdays_2_df)

0.4124

In [10]:
1-(birthdays_2_df.apply(lambda row: row.is_unique, axis=1).mean())

0.4466

In [2]:
birthdays_3 = np.random.choice(range(1,366), size = (10_000, 40))

In [3]:
birthdays_3_df=pd.DataFrame(birthdays_3)

In [4]:
birthdays_3_df['unique birthdays'] = birthdays_3_df.nunique(axis=1)

In [5]:
birthdays_3_df

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,unique birthdays
0,290,14,257,71,29,69,264,101,34,51,...,279,147,319,205,33,117,255,255,80,37
1,279,321,120,91,168,291,92,183,353,301,...,293,264,267,83,189,164,266,257,169,40
2,304,216,95,337,188,91,99,80,62,148,...,341,191,164,336,84,115,88,253,215,38
3,125,251,68,135,21,253,79,160,262,65,...,259,259,180,218,239,167,294,269,111,36
4,6,229,239,210,252,361,150,363,299,1,...,274,298,321,313,38,321,10,325,189,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,115,283,291,218,24,226,328,141,108,125,...,93,2,27,58,26,20,163,301,37,36
9996,205,234,305,107,33,140,58,230,91,269,...,329,189,93,95,48,134,131,158,286,40
9997,257,268,294,342,265,171,104,240,218,100,...,22,220,207,180,210,6,218,223,177,37
9998,90,143,117,23,76,177,106,190,121,260,...,315,247,352,232,73,272,185,59,132,40
9999,73,331,236,161,163,265,178,262,244,309,...,57,61,53,59,70,58,158,324,24,39

In [6]:
not_unique3 = birthdays_3_df[birthdays_3_df['unique birthdays'] < 40]

In [8]:
len(not_unique3)/len(birthdays_3_df)

0.8922

In [9]:
1-(birthdays_3_df.apply(lambda row: row.is_unique, axis=1).mean())

0.904

In [23]:
##Mage duel
##I suspect that both magicians will be equally powerfully based on the principal that 4*6 = 6*4.
outcomes1 = [int(1), int(2), int(3), int(4)]
wizard = np.random.choice(outcomes1, size=(10, 4))
wizard_df = pd.DataFrame(wizard)
wizard_df

   0  1  2  3
0  1  3  2  1
1  2  3  3  2
2  2  3  2  4
3  1  3  4  1
4  1  4  2  3
5  3  4  1  1
6  4  4  4  1
7  2  4  1  2
8  2  4  4  3
9  1  3  4  2

In [24]:
wizard_df["Sum"]=wizard_df.sum(axis=1)
wizard_df

   0  1  2  3  Sum
0  1  3  2  1    7
1  2  3  3  2   10
2  2  3  2  4   11
3  1  3  4  1    9
4  1  4  2  3   10
5  3  4  1  1    9
6  4  4  4  1   13
7  2  4  1  2    9
8  2  4  4  3   13
9  1  3  4  2   10

In [31]:
new_wizard= wizard_df.drop([0, 1, 2, 3], axis=1)

In [26]:
outcomes2 = [int(1), int(2), int(3), int(4), int(5), int(6)]
mage = np.random.choice(outcomes2, size=(10, 4))
mage_df = pd.DataFrame(mage)
mage_df

   0  1  2  3
0  6  3  1  1
1  5  2  2  6
2  2  1  3  4
3  5  3  2  2
4  1  6  2  1
5  5  4  4  4
6  1  5  2  5
7  1  4  5  4
8  5  1  6  3
9  3  6  5  2

In [27]:
mage_df["Sum"]=wizard_df.sum(axis=1)
mage_df

   0  1  2  3  Sum
0  6  3  1  1   14
1  5  2  2  6   20
2  2  1  3  4   22
3  5  3  2  2   18
4  1  6  2  1   20
5  5  4  4  4   18
6  1  5  2  5   26
7  1  4  5  4   18
8  5  1  6  3   26
9  3  6  5  2   20

In [32]:
new_mage = mage_df.drop([0, 1, 2, 3], axis=1)

In [33]:
duel = pd.concat([new_wizard, new_mage], axis = 1)
duel

   Sum  Sum
0    7   14
1   10   20
2   11   22
3    9   18
4   10   20
5    9   18
6   13   26
7    9   18
8   13   26
9   10   20